<app-navbar> </app-navbar>

<div class="content">
    <app-major-selection> </app-major-selection>
    
</div>

<div class="grid-container">
    <a routerLink="/grad2022" class="grid-item">
        <img src="assets/images/accounting.png" alt="Accounting" />
    </a>

    
    <a routerLink="/chat" class="grid-item">Accounting</a>
    <a routerLink="/chat" class="grid-item">Advertising</a>
    <a routerLink="/grad2026" class="grid-item">Aerospace</a>
    <a routerLink="/grad2026" class="grid-item">African American Studies</a>
    <a routerLink="/grad2026" class="grid-item">African Languages</a>
    <a routerLink="/grad2026" class="grid-item">Agricultural Education and Communication</a>
    <a routerLink="/grad2026" class="grid-item">Agricultural Operation Management</a>
    <a routerLink="/grad2026" class="grid-item">Animal Sciences</a>
    <a routerLink="/grad2026" class="grid-item">Anthropology</a>
    <a routerLink="/grad2026" class="grid-item">Applied Physiology and Kinesiology</a>
    <a routerLink="/grad2026" class="grid-item">Arabic</a>
    <a routerLink="/grad2026" class="grid-item">Agricultural Operation Management</a>
    <a routerLink="/grad2026" class="grid-item">Architecture</a>
    <a routerLink="/grad2026" class="grid-item">Art History</a>
    <a routerLink="/grad2026" class="grid-item">Art</a>
    <a routerLink="/grad2026" class="grid-item">Astronomy and Astrophysics</a>
    <a routerLink="/grad2026" class="grid-item">Biological Engineering</a>
    <a routerLink="/grad2026" class="grid-item">Botany</a>
    <a routerLink="/grad2026" class="grid-item">Business Administration</a>
    <a routerLink="/grad2026" class="grid-item">Chemical Engineering</a>
    <a routerLink="/grad2026" class="grid-item">Chemistry</a>
    <a routerLink="/grad2026" class="grid-item">Chinese</a>
    <a routerLink="/grad2026" class="grid-item">Civil Engineering</a>
    <a routerLink="/grad2026" class="grid-item">Classical Studies</a>
    <a routerLink="/grad2026" class="grid-item">Communication Sciences and Disorders</a>
    <a routerLink="/grad2026" class="grid-item">Computer Engineering</a>
    <a routerLink="/grad2026" class="grid-item">Computer Science</a>
    <a routerLink="/grad2026" class="grid-item">Construction Management</a>
    <a routerLink="/grad2026" class="grid-item">Criminology</a>
    <a routerLink="/grad2026" class="grid-item">Dance</a>
    <a routerLink="/grad2026" class="grid-item">Data Science</a>
    <a routerLink="/grad2026" class="grid-item">Dietetics</a>
    <a routerLink="/grad2026" class="grid-item">Digital Arts and Sciences</a>
    <a routerLink="/grad2026" class="grid-item">Dual Languages</a>
    <a routerLink="/grad2026" class="grid-item">Early Childhood Education</a>
    <a routerLink="/grad2026" class="grid-item">Economics</a>
    <a routerLink="/grad2026" class="grid-item">Education Sciences</a>
    <a routerLink="/grad2026" class="grid-item">Electrical Engineering</a>
    <a routerLink="/grad2026" class="grid-item">Elementary Education</a>
    <a routerLink="/grad2026" class="grid-item">Engineering</a>
    <a routerLink="/grad2026" class="grid-item">English</a>
    <a routerLink="/grad2026" class="grid-item">Entomology and Nematology</a>
    <a routerLink="/grad2026" class="grid-item">Environmental Engineering</a>
    <a routerLink="/grad2026" class="grid-item">Environmental Management in Agriculture and Natural Resources</a>
    <a routerLink="/grad2026" class="grid-item">Environmental Science</a>
    <a routerLink="/grad2026" class="grid-item">Family Youth and Community Services</a>
    <a routerLink="/grad2026" class="grid-item">Finance</a>
    <a routerLink="/grad2026" class="grid-item">Fire and Emergency Services</a>
    <a routerLink="/grad2026" class="grid-item">Food and Resource Economics</a>
    <a routerLink="/grad2026" class="grid-item">Food Science</a>
    <a routerLink="/grad2026" class="grid-item">Foreign Languages and Literatures</a>
    <a routerLink="/grad2026" class="grid-item">Forest Resources and Conservation</a>
    <a routerLink="/grad2026" class="grid-item">French and Francophone Studies</a>
    <a routerLink="/grad2026" class="grid-item">Geography</a>
    <a routerLink="/grad2026" class="grid-item">Geology</a>
    <a routerLink="/grad2026" class="grid-item">Geomatics</a>
    <a routerLink="/grad2026" class="grid-item">German</a>
    <a routerLink="/grad2026" class="grid-item">Graphic Design</a>
    <a routerLink="/grad2026" class="grid-item">Health Education and Behavior</a>
    <a routerLink="/grad2026" class="grid-item">Health Science</a>
    <a routerLink="/grad2026" class="grid-item">Hebrew</a>
    <a routerLink="/grad2026" class="grid-item">Hispanic and Latin American Languages, Literatures, and Linguistics</a>
    <a routerLink="/grad2026" class="grid-item">History</a>
    <a routerLink="/grad2026" class="grid-item">Industrial and Systems Engineering</a>
    <a routerLink="/grad2026" class="grid-item">Information Systems</a>
    <a routerLink="/grad2026" class="grid-item">Interdisciplinary Studies</a>
    <a routerLink="/grad2026" class="grid-item">Interior Design</a>
    <a routerLink="/grad2026" class="grid-item">International Studies</a>
    <a routerLink="/grad2026" class="grid-item">Italian</a>
    <a routerLink="/grad2026" class="grid-item">Japanese</a>
    <a routerLink="/grad2026" class="grid-item">Jewish Studies</a>
    <a routerLink="/grad2026" class="grid-item">Journalism</a>
    <a routerLink="/grad2026" class="grid-item">Landscape Architecture</a>
    <a routerLink="/grad2026" class="grid-item">Linguistics</a>
    <a routerLink="/grad2026" class="grid-item">Management</a>
    <a routerLink="/grad2026" class="grid-item">Marine Sciences</a>
    <a routerLink="/grad2026" class="grid-item">Marketing</a>
    <a routerLink="/grad2026" class="grid-item">Materials Science and Engineering</a>
    <a routerLink="/grad2026" class="grid-item">Mathematics</a>
    <a routerLink="/grad2026" class="grid-item">Mechanical Engineering</a>
    <a routerLink="/grad2026" class="grid-item">Media Production, Management, and Technology</a>
    <a routerLink="/grad2026" class="grid-item">Meteorology</a>
    <a routerLink="/grad2026" class="grid-item">Microbiology and Cell Science</a>
    <a routerLink="/grad2026" class="grid-item">Music Education</a>
    <a routerLink="/grad2026" class="grid-item">Music</a>
    <a routerLink="/grad2026" class="grid-item">Natural Resource Conservation</a>
    <a routerLink="/grad2026" class="grid-item">Nuclear Engineering</a>
    <a routerLink="/grad2026" class="grid-item">Nursing</a>
    <a routerLink="/grad2026" class="grid-item">Nutritional Sciences</a>
    <a routerLink="/grad2026" class="grid-item">Pharmacy</a>
    <a routerLink="/grad2026" class="grid-item">Philosophy</a>
    <a routerLink="/grad2026" class="grid-item">Physics</a>
    <a routerLink="/grad2026" class="grid-item">Plant Science</a>
    <a routerLink="/grad2026" class="grid-item">Political Science</a>
    <a routerLink="/grad2026" class="grid-item">Portuguese</a>
    <a routerLink="/grad2026" class="grid-item">Pharmacy</a>
    <a routerLink="/grad2026" class="grid-item">Psychology</a>
    <a routerLink="/grad2026" class="grid-item">Public Health</a>
    <a routerLink="/grad2026" class="grid-item">Public Relations</a>
    <a routerLink="/grad2026" class="grid-item">Religion</a>
    <a routerLink="/grad2026" class="grid-item">Russian</a>
    <a routerLink="/grad2026" class="grid-item">Sociology</a>
    <a routerLink="/grad2026" class="grid-item">Soil, Water, and Ecosystem Sciences</a>
    <a routerLink="/grad2026" class="grid-item">Spanish</a>
    <a routerLink="/grad2026" class="grid-item">Spanish and Portuguese</a>
    <a routerLink="/grad2026" class="grid-item">Sport Management</a>
    <a routerLink="/grad2026" class="grid-item">Statistics</a>
    <a routerLink="/grad2026" class="grid-item">Sustainability and the Built Environment</a>
    <a routerLink="/grad2026" class="grid-item">Sustainability Studies</a>
    <a routerLink="/grad2026" class="grid-item">Theatre</a>
    <a routerLink="/grad2026" class="grid-item">Theatre Performance</a>
    <a routerLink="/grad2026" class="grid-item">Theatre Production</a>
    <a routerLink="/grad2026" class="grid-item">Tourism, Hospitality, and Event Management</a>
    <a routerLink="/grad2026" class="grid-item">Wildlife Ecology and Conservation</a>
    <a routerLink="/grad2026" class="grid-item">Women's Studies</a>
    <a routerLink="/grad2026" class="grid-item">Zoology</a>

  </div>



