<app-navbar> </app-navbar>

<div class="content">
    <app-major-selection> </app-major-selection>
    
</div>

<div class="grid-container">
    <a routerLink="/grad2022" class="grid-item">
        <img src="assets/images/accounting.png" alt="Accounting" />
    </a>
    <a routerLink="/grad2022" class="grid-item">
        <img src="assets/images/advertising.png" alt="Advertising" />
    </a>
    <a routerLink="/grad2022" class="grid-item">
        <img src="assets/images/aerospace.png" alt="Aerospace" />
    </a>
    <a routerLink="/grad2025" class="grid-item">major 4</a>
    <a routerLink="/grad2026" class="grid-item">major 5</a>
    <a routerLink="/grad2026" class="grid-item">major 6</a>
    <a routerLink="/grad2026" class="grid-item">major 7</a>
    <a routerLink="/grad2026" class="grid-item">major 8</a>
    <a routerLink="/grad2026" class="grid-item">major 9</a>
    <a routerLink="/grad2026" class="grid-item">major 10</a>
    <a routerLink="/grad2026" class="grid-item">major 11</a>
    <a routerLink="/grad2026" class="grid-item">major 12</a>
    <a routerLink="/grad2026" class="grid-item">major 13</a>
    <a routerLink="/grad2026" class="grid-item">major 14</a>
    <a routerLink="/grad2026" class="grid-item">major 15</a>
    <a routerLink="/grad2026" class="grid-item">major 16</a>
    <a routerLink="/grad2026" class="grid-item">major 17</a>
    <a routerLink="/grad2026" class="grid-item">major 18</a>
    <a routerLink="/grad2026" class="grid-item">major 19</a>
    <a routerLink="/grad2026" class="grid-item">major 20</a>
    <a routerLink="/grad2026" class="grid-item">major 21</a>
  </div>



