.chat-content {
    display: grid;
    grid-template-rows: 1fr auto; /* Messages list takes available space, input stays at the bottom */
    background-color: #f4f4f4;
    height: 100%;
  }

h2 { /* Dark blue background */
    padding: 10px 20px; /* Padding around the navbar */
    color: #003366; 
    margin-top: 10px;    
}