<app-navbar></app-navbar>

<div class="d-flex justify-content-center mt-5">
    <div class="login-form-container p-4" style="margin-top: 90px;">
        <h2 class="text-center mb-4">Login</h2>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="form-group mb-3">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="email" name="email" required>
            </div>
            <div class="form-group mb-4">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary w-100" [disabled]="!loginForm.form.valid">Submit</button>
        </form>
        <div *ngIf="loginError" class="alert alert-danger mt-3">Email or Password is incorrect. Please try again.</div>
    </div>
</div>
