<app-navbar></app-navbar>

<div class="home-container">
    <p>Please select one of the following...</p>
</div>
    
    <div class="grid-container">
      <a routerLink="/grad2022" class="grid-item grid-item-center">
        <img src="assets/images/2022.png" alt="2022 Grad" />
      </a>
      <a routerLink="/grad2023" class="grid-item grid-item-center">
        <img src="assets/images/2023.png" alt="2023 Grad" />
      </a>
      <a routerLink="/grad2024" class="grid-item grid-item-center">
        <img src="assets/images/2024.png" alt="2024 Grad" />
      </a>
      <a routerLink="/grad2025" class="grid-item grid-item-center">
        <img src="assets/images/2025.png" alt="2025 Grad" />
      </a>
      <a routerLink="/grad2026" class="grid-item grid-item-center">
        <img src="assets/images/2026.png" alt="2026 Grad" />
      </a>
    </div>
  
  