<app-navbar></app-navbar>

<div class="home-container">
    <p>Please select one of the following...</p>
</div>
    
    <div class="grid-container">
      <a routerLink="/grad2022" class="grid-item">2022 GRAD</a>
      <a routerLink="/grad2023" class="grid-item">2023 GRAD</a>
      <a routerLink="/grad2024" class="grid-item grid-item-center">2024 GRAD</a>
      <a routerLink="/grad2025" class="grid-item">2025 GRAD</a>
      <a routerLink="/grad2026" class="grid-item">2026 GRAD</a>
    </div>
  
  