<app-navbar></app-navbar>

<div class="content">
    <h2 class="subheading">Know everything about GradLink...</h2>
    <h1 class="heading">About GradLink</h1>
    <p class="paragraph">
      GradLink is your ultimate guide to navigating the post-graduation journey! 
      GradLink offers University of Florida graduates an exclusive platform to connect with fellow alumni, 
      share experiences, and gain valuable insights. From personalized resume reviews to joining alumni groups in 
      new cities, GradLink equips graduates with the resources to navigate their careers and build meaningful connections.
      Whether seeking mentorship, exploring job opportunities, or engaging with people in the same position, GradLink is 
      your gateway to thriving beyond graduation.
    </p>

    <h1 class="heading2">How to Get Started</h1>
    <p class="paragraph">
        No account? No problem! Creating one is quick and easy. Simply click Sign Up and complete the required fields. 
        Choose a username, write a short bio, and share any social media links you would like to include. 
        Once done, select your graduation date and major, and you will be directed to your personalized chat 
        room, tailored just for you.
    </p>


    <div class="team-section">
        <h2 class="team-heading">Meet the Team</h2>
        <div class="team-row">
          <div class="team-member">
            <img src="assets/images/hannah.JPG" alt="Team Member 1" />
            <p class="name">Hannah DuBose</p>
            <p class="description">Major: Computer Science</p>
            <p class="description">Graduation Date: Fall 2024</p>
            <p class="description">Role: Frontend Developer</p>
            <a href="https://www.linkedin.com/in/hannahdubose/" target="_blank" class="linkedin-link">
                Connect on LinkedIn
            </a>
          </div>
          <div class="team-member">
            <img src="assets/images/lily.jpg" alt="Team Member 1" />
            <p class="name">Lily Cabrera</p>
            <p class="description">Major: Computer Science</p>
            <p class="description">Graduation Date: Fall 2024</p>
            <p class="description">Role: Backend Developer</p>
            <a href="https://www.linkedin.com/in/lily-cabrera/" target="_blank" class="linkedin-link">
                Connect on LinkedIn
            </a>
          </div>
          <div class="team-member">
            <img src="assets/images/neyaa.JPG" alt="Team Member 1" />
            <p class="name">Neyaa Rajan</p>
            <p class="description">Major: Computer Science</p>
            <p class="description">Graduation Date: Fall 2024</p>
            <p class="description">Role: Backend Developer</p>
            <a href="https://www.linkedin.com/in/hannahdubose/" target="_blank" class="linkedin-link">
                Connect on LinkedIn
            </a>
          </div>
        </div>
      </div>
      


  </div>
