

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-top: 35px; 
    text-align: center;
    box-sizing: border-box;
  }
  
  .header {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: #0158ee; 
    margin-bottom: 10px; 
  }
  
  .required-title {
    font-size: 1rem;
    color: #9E9E9E; 
    margin-bottom: 20px;
  }
  
  mat-vertical-stepper {
    width: 90%; 
    max-width: 600px; 
  }
  
  mat-form-field {
    width: 100%; 
  }
  

  .example-input-wrapper {
    margin-bottom: 16px;
  }
  
  label {
    margin-right: 4px;
  }

  .mat-step-header {
    font-family: 'Poppins', sans-serif;
  }
  
  .mat-step-header .mat-step-icon {
    background-color: #4CAF50; /* Green background */
    color: white; /* White icon text */
  }
  

  .mat-mdc-form-field {
    margin-top: 16px;
  }
  
  