<div class="navbar">
    <div class="navbar-left">
        <img src="/assets/images/logo.png" alt="logo" class="logo" style="max-height: 95px;" routerLink="/">
    </div>
    <div class="navbar-right">
      <button routerLink="/">Home</button>
      <button routerLink="/profile">Profile</button>
    </div>
  </div>

<div class="chat-area">
    <app-sidebar></app-sidebar>
    <app-chat-content [gradClass]="gradClass" [majorId]="majorId" [currentChannel]="currentChannel" [messages]="messages"></app-chat-content>
  </div>
  