<div class="navbar">
    <div class="navbar-left">
        <img src="/assets/images/logo.png" alt="logo" class="logo" style="max-height: 95px;" routerLink="/">
    </div>
    <div class="navbar-right">
      <button routerLink="/">Home</button>
      <button routerLink="/profile">Profile</button>
    </div>
  </div>

<div class="chat-area">
    <app-sidebar [channels]="channels" [activeChannel]="activeChannel" (channelSwitch)="switchChannel($event)"></app-sidebar>
    <app-chat-content [messages]="messages[activeChannel]" [activeChannel]="activeChannel" (sentMessage)="onMessageSent($event)"></app-chat-content>
  </div>
  