<app-navbar></app-navbar>

<ngb-carousel [interval]="2000" [pauseOnHover]="true" [wrap]="true">
    <ng-template ngbSlide>
        <img src="assets/images/grad1.png" alt="slide" style="display: block; width: 100%;">
    </ng-template>

    <ng-template ngbSlide>
        <img src="assets/images/uf.png" alt="slide" style="display: block; width: 100%;">
    </ng-template>

    <ng-template ngbSlide>
        <img src="assets/images/grad-cap.png" alt="slide" style="display: block; width: 100%;">
    </ng-template>
</ngb-carousel>

<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to GradLink</h1>
    </div>
</section>


